/* *{
    background-color: aquamarine;
} */
.Inputform{
    display: block;
    margin-top: 10%;
    background-color: blue;
    text-align: -webkit-center;
}
.submitButton{
    display: flex;
    margin-top: 2%;
    align-content: center;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}
.textarea{
    height: fit-content;
    width: 50%;
    
}